#include "windows.h"
#include "resource.h"

pers DIALOG DISCARDABLE  0, 0, 378, 87
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP

BEGIN
    DEFPUSHBUTTON   "Save",IDOK,135,66,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,192,66,50,14
    COMBOBOX        IDC_CNAME,32,40,72,240,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Program to edit JoeBOT personality files",IDC_STATIC,125,10,126,8

    LTEXT           "Name",IDC_STATIC,32,25,20,8
    LTEXT           "pref Weapon",IDC_STATIC,117,25,42,8
    LTEXT           "Skill",IDC_STATIC,197,25,14,8
    COMBOBOX        IDC_CWEAPON,117,40,70,311,CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_ESKILL,197,40,40,12,ES_AUTOHSCROLL
    LTEXT           "Chat file",IDC_STATIC,247,25,26,8
    EDITTEXT        IDC_ECHAT,247,40,40,12,ES_AUTOHSCROLL
    LTEXT           "Agg",IDC_STATIC,297,25,14,8
    COMBOBOX        IDC_CAGGR,297,40,74,162,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

